/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ------------------------------------------------------------------------------------- */
/* ---------- Main - Base styles ------------------------------------------------------- */
body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color: #202322;
  color: #e2e3ed;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.25em;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.875em;
  line-height: 1.285em;
  font-weight: normal;
  margin: 0;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125em;
  font-weight: normal;
  margin: 0;
}

p {
  font-size: 1em;
  line-height: 1.285;
}

a {
  color: #e2e3ed;
  text-decoration: none;
}


address {
  font-style: normal;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/* ---------- Main - Header styles ---------- */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 1rem;
}

header .content-wrapper {
  width: 100%;
} 

header figure {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  max-width: 100%;
}

header figure img {
  width: 100%;
}

.logo {
  width: 60%;
  padding: 0.645rem;
  text-align: center;
}

.header-divider {
  width: 100%;
  border: 0.5px solid #3a3a3a;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 45%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
}

nav ul li { 
  list-style: none;
  padding: 1rem 1.875rem 0 1.875rem;
  text-transform: uppercase;
  font-weight: bold;
}

/* ---------- Main - Footer styles ---------- */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 3.125rem 1.25rem 0.625rem 1.25rem;
}

footer .content-wrapper {}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 3.125rem;
}

.contact h3 {
  margin-bottom: 1.25rem;
  width: 100%;
  text-align: center;
}

.contact address {}

.contact address p {
  margin: 0;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 3.125rem;
}

.social-icons h3 {
  margin-bottom: 1.25rem;
  width: 100%;
  text-align: center;
}

.social-icons a {
  width: 2.5%;
}

.social-icons a img {}

.copyright {}

.copyright p {
  margin: 0;
}

/* ------------------------------------------------------------------------------------- */
/* ---------- Home - Headline styles --------------------------------------------------- */
#headline {
  padding: 1.25rem;
  height: 28.75rem;
  max-width: 100%;
  background-image: url(../img/hero-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#headline h1 {}

#headline img {}

/* ---------- Home - Aside + form styles ---------- */
aside {  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 1.875rem 1.25rem 3.125rem 1.25rem;
  background-color: #527158;
}

#join {
  margin-bottom: 2.1875rem;
}

input {
  font-family: 'Poppins', sans-serif;
}

input#email-input {
  margin: 1.25rem 0;
  padding: 1.25rem 0.75rem;
  width: 90%;
  font-style: italic;
  color: #e2e3ed;
}

input#submit {
  padding: 1rem 0rem;
  width: 100%;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  background-color: #2a423a;
  color: #e2e3ed;
}

/* ---------- Home - Features styles ---------- */
#features {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.125rem 1.25rem;
  max-width: 100%;
  background-image: url(../img/feature-bkgd-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#features .content-wrapper {
}

#features h2 {
  padding-right: 0.05rem;
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 2.5rem;
  text-align: center;
}

.feature img {
  margin-bottom: 2.5rem;
}

.feature p {}

/* ---------- Home - Review styles ---------- */
#review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 1.875rem 1.25rem;
  background-color: #2a423a;
}

#review .content-wrapper {
}

#review h2 {
  margin: 0;
}

#review article {}

#review figure {
  margin: 1.25rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#review figure img {
  width: 100%;
}

#review article h3 {
  margin: 0.625rem 0;
}

#review article p {
  margin: 0.625rem 0;
}

/* ------------------------------------------------------------------------------------- */
/* ---------- About - Mission styles --------------------------------------------------- */
#mission {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.125rem 1.25rem;
  background-color: #527158;
}

#mission .content-wrapper {
}

#mission h2 {
  padding-bottom: 1rem;
  margin: 0;
}

#mission p {
  margin: 0;
}

/* ---------- About - Map styles ---------- */
#map {}

#map figure{}

/* ---------- About - Contact styles ---------- */
#contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.125rem 1.25rem;
  background-color: #2a423a;
}

#contact-section .content-wrapper {
  justify-content: space-between;
}

#contact-section h2 {
  padding-bottom: 0.625rem;
}

#general-info {}

#general-info h3 {
  margin: 0;
  padding-bottom: 0.625rem;
}

#general-info address {}

#general-info address p {
  margin: 0;
  margin-bottom: 1rem;
}

#chat {}

#chat h3 {
  margin: 0;
  padding-bottom: 0.625rem;
}

#chat address {}

#chat address p {
  margin: 0;
}

/* ------------------------------------------------------------------------------------- */
/* ---------- FAQ - Main styles -------------------------------------------------------- */
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 3.125rem 1.25rem 1.5625rem 1.25rem;
  background-color: #527158;
}

#main .content-wrapper {
}

#main h2 {
  margin-bottom: 3.125rem;
}

#main article {
  padding-bottom: 1.5625rem;
}

#main article h3 {
  margin-bottom: 1rem;
}

#main article p {}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

  /* ---------- Tablet --------- */
@media only screen and (min-width: 768px) {
  /* Header */
  header {
    padding: 1.875rem 3.75rem;
  }

  header .content-wrapper {
    justify-content: space-between;
  }

  .header-divider {
    display: none;
  }
  
  .logo {
    width: 35%;
    padding: 0;
    text-align: left;
  }

  nav {
    width: 20%;
  }

  nav ul li {
    padding: 0rem 1.875rem;
  }


  /* Home - Headline */
  #headline {
    padding: 6.25rem 3.75rem;
  }

  #headline h1 {
    width: 70%;
  }

  /* Home - Aside */
  aside {
    justify-content: space-between;
    align-items: baseline;
    padding: 3.125rem 3.75rem;
  }

  #join {
    width: 40%;
  }

  aside form {
    width: 45%;
  }

  input#email-input {
    padding: 1rem 0.75rem;
  }

  input#submit {
    padding: 0.75rem 0;
  }

  /* Home - Features */
  #features {
    padding: 6.25rem 3.75rem;
  }

  #features .content-wrapper {
    justify-content: space-around;
    align-items: baseline;
  }

  #features h2 {
    margin-bottom: 2.5rem;
  }

  .feature {
    width: 30%;
    padding: 1em;
  }

  /* Home - Review */
  #review {
    padding: 3.125rem 3.75rem;
  }

  #review .content-wrapper {
    justify-content: space-between;
  }

  #review h2 {
    width: 65%;
  }

  /* FAQ - Article */
  #main {
    padding: 6.25rem 3.75rem 3.125rem 3.75rem;
  }

  #main .content-wrapper {
    justify-content: space-between;
    align-items: baseline;
  }

  #main h2 {
    margin-bottom: 1.875rem;
  }

  #main article {
    width: 46%;
    padding-bottom: 3.125rem;
  }

  /* About - Missions */
  #mission {
    padding: 6.25rem 3.75rem;
  }

  #mission h2 {
    padding-bottom: 2.5rem;
    margin-right: 1.75rem;
  }

  #mission p {
    columns: 2;
    column-gap: 4.375rem;
  }

  /* About - Contact section */
  #contact-section {
    padding: 6.25rem 3.75rem;
  }

  #contact-section .content-wrapper {
    align-items: baseline;
  }

  #contact-section h2 {
    width: 100%;
    margin-right: 8.125rem;
    margin-bottom: 3.75rem;
  }

  #chat {
    margin-right: 1.25rem;
  }

  /* Footer */
  footer {
    padding: 5.645rem 9.375rem 0.625rem 9.375rem;
  }

  footer .content-wrapper {
    justify-content: space-between;
  }

  .contact {
    width: 40%;
  }

  .social-icons {
    width: 40%;
  }
}

/* ---------- Desktop --------- */
@media only screen and (min-width: 1200px) {
  /* Header */
  header {
    padding: 1.5625rem 7.5rem;
  }

  /* Home - Headline */
  #headline {
    padding: 3.125rem 7.5rem;
  }

  #headline h1 {
    width: 55%;
  }

  /* Home - Aside */
  aside {
    padding: 3.125rem 12.5rem;
  }

  input#email-input {   
    padding: 1rem 1rem;
  }

  input#submit {
    padding: 1rem 0;
  }

  /* Home - Features */
  #features {
    padding: 6.25rem 7.5rem;
  }

  #features h2 {
    width: 100%;
    padding-right: 6.25rem;
  }

  .feature {
    width: 20%;
    padding: 3.75rem;
  }

  /* Home - Review */
  #review {
    padding: 6.25rem 7.5rem 4.375rem 7.5rem;
  }

  #review h2 {
    padding-bottom: 4.375rem;
  }

  /* FAQ - main */
  #main {
    padding: 6.25rem 7.5rem 3.125rem 7.5rem;
  }

  #main h2 {
    width: 100%;
    padding-right: 18rem;
  }

  /* About - Mission */ 
  #mission {
    padding: 6.25rem 7.5rem;
  }

  #mission h2 {
    padding-bottom: 1.25rem;
  }

  #mission p {
    column-gap: 2.5rem;
  }

  /* About - Contact */ 
  #contact-section {
    padding: 6.25rem 7.5rem;
  }

  #contact-section h2 {
    padding: 0;
    margin: 0;
  }

  #contact-section h3 {
    margin: 1.25rem 0;
  }

  #chat {
    margin-right: 13.75rem;
  }

  /* Footer */
  footer {
    padding: 6.25rem 11.25rem 1.25rem 11.25rem;
  }

  footer .content-wrapper {
    width: 100%;
    justify-content: space-between;
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

